@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    max-width: 1280px;
    margin: 0 auto;
}

.active {
    background: none !important;
    color: greenyellow !important;
}